<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Cart Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Event Management Portal</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <br>
            <h3>All Events</h3>
            <br>
        </div>
    </div>

    <table class = "table table-hover table-striped table-dark table-bordered">
        <thead class= "table-dark">
        <tr>
            <th> Event Name </th>
            <th> Location </th>
            <th> Ticket </th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "event: ${eventList}">
            <td th:text = "${event.name}"></td>
            <td th:text = "${event.location}"></td>
            <td th:text = "${event.ticket}"></td>
            <td align="center">
                <form th:action="@{/bill}" method="post" th:object="${eventItem}">
                    <input type="hidden" th:name="id" th:value="${event.id}"/>
                    <input type="hidden" th:name="name" th:value="${event.name}"/>
                    <input type="hidden" th:name="location" th:value="${event.location}"/>
                    <input type="hidden" th:name="ticket" th:value="${event.ticket}"/>
                    <button type="submit" class="btn btn-warning">Buy Tickets</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>